.vscode/*
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Compiled release
**/build/*
# **/dist/* this is ignored from within dist folder, see comment in dist./.gitingore
**/storybook-static/*
**/assets/public/*

# Dependency directories
node_modules/

# TypeScript cache
*.tsbuildinfo
.DS_Store

# Package stats
**/stats.json

# Android
android/app/src/main/jniLibs
android/.idea
/build/*
!/build/.npmkeep
*.keystore
