@page {
  margin: 0;
  size: A4 landscape;
}

.paging {
  width: 100%;
}

.container {
  margin: auto;
  padding: 10px;
  font-size: 14px;
  font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
  color: #555;
}

.container table {
  width: 100%;
  font-size: inherit;
  font-family: inherit;
  text-align: left;
  margin-top: 10;
  margin-bottom: 15;
}

.container table td {
  padding: 5px;
  vertical-align: top;
}

.container table tr.heading td {
  font-weight: bold;
  margin-bottom: 15px;
}

.container table td.status span {
  padding: 2px;
  border-radius: 10px;
}

.container table td.status span::before {
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 5px;
}

.container table td.status span {
  padding: 3px 10px;
}

.container table td.status span.out-of-stock::before {
  background-color: #f40502;
}

.container table td.status span.out-of-stock {
  background-color: #fbcdcc;
}

.container table td.status span.overstocked::before {
  background-color: #0260f7;
}

.container table td.status span.overstocked {
  background-color: #d9d9ff;
}

.container table td.status span.understocked::before {
  background-color: #f79a02;
}

.container table td.status span.understocked {
  background-color: #fdebcc;
}

.container table td.status span.well-stocked::before {
  background-color: #33a902;
}

.container table td.status span.well-stocked {
  background-color: #d6eecc;
}

.container table td.status span.no-consumption::before {
  background-color: #8f90a6;
}

.container table td.status span.no-consumption {
  background-color: #e9e9ed;
}
