{% macro dateOrNA(datetime) %} 
{% if datetime %}{{ datetime | date(format="%d/%m/%Y", timezone=arguments.timezone) }}{% else %}{{t(k="messages.not-applicable", f="N/A")}}{% endif %} 
{% endmacro input %}

<table class="header_image_section" style="width: 100%;height: 98%;"> 
  <tr>
      <th style="text-align:left;width:10%;height:70%;">
          <img class="logo" src="{{ data.store.logo }}"/>
      </th>
      <th style="text-align:left;width:20%;">
          <span style="font-weight:bold;">{{ data.store.storeName }}</span><br>
          <span style="font-size:6pt;">{{ data.store.name.address1 }}</span><br>
          <span style="font-size:6pt;">{{ data.store.name.address2 }}</span><br>
          <span style="font-size:6pt;">
              {{t(k="label.phone",f="Telephone")}}: {{ data.store.name.phone }}
          </span><br>
          <span style="font-size:6pt;">
              {{t(k="label.email",f="Email")}}: {{ data.store.name.email }}
          </span>
      </th>
      <th style="text-align:right;width:70%;font-size:28pt;">
          {{ t(k="label.requisition", f="Requisition") }}<br>
      </th>
  </tr>
</table>
<div class="header_supplied_section" style="display: flex; flex-direction: column;">
  <div class="header-space-between">
      <span>{{ t(k="label.customer", f="Customer") }}:</span>
      <span>{{ t(k="label.number", f="Number") }}: {{ data.requisition.requisitionNumber }}</span>
  </div>
  <div class="header-space-between">
      <span >{{ data.requisition.otherParty.name }}</span>
      <span id="date">
          {{t(k="report.printed-date", f="Printed date") }}: {{ now() | date(format="%d/%m/%Y") }}
      </span>
  </div>
  <div class="header-space-between">
      <span>{{ data.requisition.otherParty.code }}</span>
      <span id="date">{{t(k="report.finalised-date", f="Finalised date") }}: {{ self::dateOrNA(datetime=data.requisition.finalisedDatetime)}}</span>
  </div>
  <div style="display: flex; justify-content: flex-start;">
      <span>
          {{data.requisition.otherParty.address1 }}{% if data.requisition.otherParty.address2 %},
          {{data.requisition.otherParty.address2 }} {% endif %} 
      </span>
  </div>
</div>
