{% macro dateOrNA(datetime) %} {% if datetime %}{{ datetime |
date(format="%d/%m/%Y", timezone=arguments.timezone) }}{% else
%}{{t(k="messages.not-applicable", f="N/A")}}{% endif %} {% endmacro input %}

<table class="header_image_section" style="width: 100%; height: 98%">
  <tr>
    <th style="text-align: left; width: 20%">
      <span style="font-weight: bold">
        {{ data.goodsReceived.store.name.name }}
      </span>
    </th>
    <th style="text-align: right; width: 70%; font-size: 28pt">
      {{t(k="goods-received", f="Goods Received") }}<br />
    </th>
  </tr>
</table>
<div
  class="header_supplied_section"
  style="display: flex; flex-direction: column"
>
  <div class="header-space-between">
    <span>
      {% if data.goodsReceived.supplier %} {{ t(k="label.supplier",
      f="Supplier") }}: {% endif %}
    </span>

    <span> 
        {{t(k="label.purchase-order-number", f="Purchase Order Number") }}: {{
        data.goodsReceived.purchaseOrderNumber }}
    </span>
  </div>
  <div class="header-space-between">
    <span>
      {% if data.goodsReceived.supplier %} {{ data.goodsReceived.supplier.name
      }} {% endif %}
    </span>

    <span id="date">
      {{ t(k="report.printed-date", f="Printed date") }}: {{ now() |
      date(format="%d/%m/%Y") }}
    </span>
  </div>
  <div class="header-space-between">
    <span>
    </span>
    <span id="date"></span>
      {{ t(k="report.confirmed-date", f="Created date") }}: 
      {{self::dateOrNA(datetime=data.goodsReceived.createdDatetime)}}
    </span>
  </div>
  <div class="header-space-between">
    <span>

    </span>
    <span id="date">
        {{ t(k="label.received-date", f="Received date") }}: 
        {{self::dateOrNA(datetime=data.goodsReceived.receivedDatetime)}}
    </span>
  </div>
</div>
