body > table {
  width: 100%;
  padding: 2em;
}

.logo {
  display: block;
  height: 96px;
}

.header_image_section,
.header_supplied_section,
.body_section,
.body_total_section {
  width: 100%;
}

.header_supplied_section {
  font-family: Tahoma;
  font-size: 8pt;
  border-bottom: 0.5px solid black;
  padding-top: 1pt;
}

.header_image_section {
  width: 100%;
  font-size: 8pt;
  border-bottom: 0.5px solid black;
  padding-top: 8pt;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.header-space-between {
  display: flex;
  justify-content: space-between;
}
.body_column_label th {
  border-bottom: 0.5px solid black;
  text-align: left;
}

.body_column_label th,
.body_value td {
  font-family: Tahoma;
  font-size: 8pt;
}
