<style>
  {% include "style.css" %}
</style>

<table class="body_section">
  <thead>
    <tr class="body_column_label">
      <th>{{ t(k="report.item-name", f="Item name") }}</th>
      <th>{{ t(k="report.item-code",f="Item code") }}</th>
      <th>{{ t(k="label.storage-location",f="Storage location") }}</th>
      <th>{{ t(k="label.received-pack-size",f="Received pack size") }}</th>
      <th>
        {{ t(k="label.recorded-number-of-packs-received", f="Recorded number of
        packs received") }}
      </th>
      <th>
        {{ t(k="report.counted-number-of-units-received", f="Counted number of
        units received") }}
      </th>
    </tr>
  </thead>
  {% for line in data.goodsReceived.lines.nodes -%}
  <tr class="body_value">
    <td>{{ line.itemName }}</td>
    <td>{{ line.item.code }}</td>
    <td>{{ line.location.name }}</td>
    <td>{{line.receivedPackSize}}</td>
    <td>{{line.numberOfPacksReceived}}</td>
    <td>........</td>
  </tr>
  {%- endfor %}
</table>
