.DS_Store
# common location for local config file containing connection credentials
server/report_builder/config.yaml
.vscode/*
!.vscode/extensions.json

# Temp export files
server/data
.gitmodules

standard_reports/test-config.json
client/dist

#JS
node_modules

# IDEs
.idea/

# Nx (used by Lerna)
.nx

# Yarn 4
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.pnp.*
