{% macro dateOrNA(datetime) %} {% if datetime %}{{ datetime |
date(format="%d/%m/%Y", timezone=arguments.timezone) }}{% else
%}{{t(k="messages.not-applicable", f="N/A")}}{% endif %} {% endmacro input %}

<!-- Main form has 7 columns, so we'll work with that here -->
<table class="header_image_section">
  <tr>
    <td rowspan="5">
      <img class="logo" src="{{ data.store.logo }}" />
    </td>
    <td>{{ data.store.storeName }}</td>
    <td colspan="2"></td>
    <td colspan="3">
      {{ t(k="label.outbound-shipment", f="Outbound Shipment") }}
    </td>
  </tr>
  <tr>
    <td>{{ data.store.name.address1 }}</td>
  </tr>
  <tr>
    <td>{{ data.store.name.address2 }}</td>
  </tr>
  <tr>
    <td>{{t(k="label.phone",f="Telephone")}}:</td>
    <td>{{ data.store.name.phone }}</td>
  </tr>
  <tr>
    <td>{{t(k="label.email",f="Email")}}:</td>
    <td>{{ data.store.name.email }}</td>
  </tr>
  <tr></tr>
  <tr>
    <td>{{t(k="label.customer", f="Customer")}}:</td>
    <td colspan="4"></td>
    <td>{{ t(k="label.number", f="Number") }}</td>
    <td>{{ data.invoice.invoiceNumber }}</td>
  </tr>
  <tr>
    <td>{{ data.invoice.otherPartyName }}</td>
    <td colspan="4"></td>
    <td>{{ t(k="report.their-ref", f="Their ref") }}:</td>
    <td>{{ data.invoice.theirReference }}</td>
  </tr>
  <tr>
    <td>{{ data.invoice.otherParty.code }}</td>
    <td colspan="4"></td>
    <td>{{ t(k="report.printed-date", f="Printed date") }}:</td>
    <td>{{ now() | date(format="%d/%m/%Y") }}</td>
  </tr>
  <tr>
    <td>
      {{data.invoice.otherParty.address1 }}{% if
      data.invoice.otherParty.address2 %}, {{data.invoice.otherParty.address2 }}
      {% endif %}
    </td>
    <td colspan="4"></td>
    <td>{{t(k="report.shipped-date",f="Shipped date")}}</td>
    <td>{{self::dateOrNA(datetime=data.invoice.shippedDatetime)}}</td>
  </tr>
</table>
