@media print{
    @page {
        size: portrait
    }
}

.logo {
    display: block;
    height: 96px;
}

.title {
    font-size: 28pt;
    font-weight: bold;
}

.bold {
    font-weight: bold;
}

.header_section, .body_section, .body_total_section {
    margin-left: 8px;
    width: 100%;
}

.header_section {
    width: 100%;
    font-family: Tahoma;
    font-size: 8pt;
    border-bottom: 0.5px solid black;
    padding-top: 8pt;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
} 

.line_number, .quantity, .pack, .expiry{
    text-align: right;
    font-family: Tahoma;
    font-size: 8pt;
}

.location_code, .item_name, .batch, .issued {
    text-align: left;
    font-family: Tahoma;
    font-size: 8pt
}

.body_section, .body_total_section {
    width: 98%;
    font-family: Tahoma;
}

.body_section tr.body_column_label th {
    border-bottom: 0.5px solid black;
}

.body_value td {
    border-bottom: 0.5px solid black;
}

hr {
    width: 100%; 
    margin-left: 8px; 
    border: 0.1px solid black;
}

.pageNumber::after {
    font-family: Tahoma;
    font-size: 8pt;
    counter-increment: page;
    content: "Page " counter(page);
}

.batch-wrap {
    word-break: break-word;
}