on:
  pull_request:
    branches:
      - main
      - develop

name: CI

jobs:
  build_and_test:
    name: Remote Server Tests (sqlite)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
      - uses: actions-rs/cargo@v1
        with:
          command: test
          args: --features=sqlite
