# Node
node_modules/
npm-debug.log
yarn-error.log

# React Native generated
.bundle/

# Build
build/

# Environment
.env
.env.local

# IDE
.vscode/
.idea/

# macOS
.DS_Store

# Watchman
.watchmanconfig
