<style>
  {% include "style.css" %}
</style>

{% macro formatDate(datetime) %} {% if datetime %}{{ datetime |
date(format="%d/%m/%Y %H:%M:%S") }}{% endif %} {% endmacro input %}

<div class="header">
  <h1>Placeholder organisation name</h1>
  <h3>Store: {{ data.store.storeName }}</h3>
  <h5>
    Prescriber name: {{data.invoice.clinician.firstName | default(value='')}}
    {{data.invoice.clinician.lastName | default(value='')}}
  </h5>
  <h5>
    Patient name: {{data.invoice.patient.firstName}} {{
    data.invoice.patient.lastName }}
  </h5>
  <p>Invoice Number: {{data.invoice.invoiceNumber}}</p>
  <p>
    Entered by: {{data.invoice.user.firstName | default(value='')}}
    {{data.invoice.user.lastName | default(value='')}}
  </p>
</div>

<div class="container">
  <table>
    <thead>
      <tr class="heading">
        <td>{{t(k="report.item-name", f="Item Name")}}</td>
        <td>{{t(k="label.price", f="Price")}}</td>
        <td>{{t(k="label.quantity", f="Quantity")}}</td>
        <td>{{t(k="label.line-total", f="Line Total")}}</td>
      </tr>
    </thead>
    <tbody>
      {% for invoiceLine in data.invoice.lines.nodes %}
      <tr>
        <td>{{invoiceLine.itemName | default(value='')}}</td>
        <td>
          {{invoiceLine.sellPricePerPack / invoiceLine.packSize |
          default(value=0.00) | round(precision=2)}}
        </td>
        <td>
          {{invoiceLine.numberOfPacks * invoiceLine.packSize |
          default(value=0.00) | round(precision=2)}}
        </td>
        <td>
          {{invoiceLine.totalBeforeTax | default(value=0.00 |
          round(precision=2))}}
        </td>
        {% endfor %}
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td><strong>{{t(k="label.total", f="Total")}}</strong></td>
        <td>
          <strong
            >{{data.invoice.pricing.totalAfterTax | default(value=0.00) |
            round(precision=2)}}</strong
          >
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="footer">
  <h1>{{t(k="label.copy", f="Copy")}}</h1>
  <p>{{self::formatDate(datetime=now())}}</p>
</div>
