[package]
name = "android"
version = "0.1.0"
edition = "2018"

[lib]
crate-type = ["cdylib"]
path = "src/lib.rs"
name = "remote_server_android"

[dependencies]
repository = { path = "../repository" }
service = { path = "../service" }
server = { path = "../server" }

actix-web = { version= "4.0.1", features = ["rustls"] } 
android_logger = "0.11.0"
jni = { version = "0.19.0"}
log = "0.4.14"
once_cell = "1.9.0"
rcgen = "0.9.2"
tokio = { version = "1.17.0", features = ["macros" ] }

[features]
android = ["server/android"]
