body > table {
  width: 100%;
  padding: 2em;
}

.logo {
  display: block;
  height: 96px;
}

.header_image_section,
.header_supplied_section,
.body_section,
.body_total_section {
  width: 100%;
  border-bottom: 0.5px solid black;
}

.header_supplied_section {
  font-family: Tahoma;
  font-size: 8pt;
  border-bottom: 0.5px solid black;
  padding-top: 1pt;
}

.header_image_section {
  width: 100%;
  font-size: 8pt;
  border-bottom: 0.5px solid black;
  padding-top: 8pt;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.header-space-between {
  display: flex;
  justify-content: space-between;
}
.body_column_label th {
  border-bottom: 0.5px solid black;
  text-align: left;
}

.body_column_label th,
.body_value td {
  font-family: Tahoma;
  font-size: 8pt;
}

.watermark {
  font-family: Tahoma;
  font-size: 60pt;
  position: fixed;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -35%) rotate(-25deg);
  color: #b0b0b0;
  opacity: 0.25;
  pointer-events: none;
  white-space: nowrap;
  user-select: none;
}

.right-aligned-table {
  font-family: Tahoma;
  font-size: 8pt;
  text-align: right;
  border-spacing: 20pt 0; /* Adds horizontal space between columns */
  margin-left: auto;
  margin-right: 0; /* Aligns table to the right */
  padding: 0;
  padding-top: 20pt;
}
/* Make left column of right-aligned-table bold */
.right-aligned-table td:first-child {
  font-weight: bold;
}
