@media print {
  @page {
    @bottom-right {
      font-family: Tahoma;
      font-size: 8pt;
      /* do not allow formatter to add a line break in the content */
      /* prettier-ignore*/
      content: '{{t(k="report.page",f="Page")}} ' counter(page) ' {{t(k="report.of",f="of")}} ' counter(pages);
    }
  }
}

.header_image_section,
.header_supplied_section {
  margin-inline-start: 8px;
  width: 100%;
  font-family: Tahoma;
  font-size: 8pt;
  border-bottom: 0.5px solid black;
  padding-top: 1pt;
}

.logo {
  display: block;
  height: 96px;
}

body {
  margin: 10px 5% 10px 5%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

table.center {
  margin-left: auto;
  margin-right: auto;
  width: 98%;
  border-collapse: collapse;
  font-size: 12px;
}

td.borderline {
  border-bottom: 1px solid black;
}

td {
  vertical-align: top;
  padding: 2px;
}

th {
  padding: 2px;
}

tr.borderline {
  border-bottom: 1px solid black;
}

td.borderlineTopBottom {
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}

.Report_title {
  text-align: center;
  padding-top: 8px;
  font-weight: bold;
  font-size: 12pt;
}

.name_centre {
  text-align: center;
  font-weight: bold;
  font-size: 14pt;
}
.name_address {
  text-align: center;
  font-weight: normal;
  font-size: 10pt;
}

.name_right {
  text-align: end;
  font-weight: normal;
  font-size: 10pt;
}

.col-item-code {
  width: 6%;
  text-align: start;
}

.col-item-name {
  text-align: start;
}

.col-batch {
  width: 5%;
  text-align: start;
}

.col-expiry-date {
  width: 7.5%;
  text-align: end;
}

.col-packsize {
  width: 5%;
  text-align: end;
}

.col-cost-price {
  width: 8%;
  text-align: end;
}

.col-snapshot-packs {
  width: 6%;
  text-align: end;
}

.col-counted-packs {
  width: 6%;
  text-align: end;
}

.col-variance-packs {
  width: 6%;
  text-align: end;
}

.col-variance-values {
  width: 6%;
  text-align: end;
}

.col-reason {
  width: 10%;
  text-align: end;
}

.col-comment {
  width: 12%;
  text-align: end;
}

.batch-wrap {
  word-break: break-word;
}

@media print {
  @page {
    size: landscape;
  }
}
