<style>
  {% include "style.css" %}
</style>

<table class="body_section">
  <thead>
    <tr class="body_column_label">
      <th>{{ t(k="report.line", f="Line") }}</th>
      <!-- TO DO: add missing supplier code field in the cell below, recorded in Issue 8240 https://github.com/msupply-foundation/open-msupply/issues/8240 -->
      <th>{{ t(k="report.item-code",f="Item code") }}</th>
      <th>{{ t(k="report.item-name",f="Item name") }}</th>
      <th>
        {{ t(k="label.requested-number-of-units", f="Requested number of units")
        }}
      </th>
      <th>{{ t(k="label.unit-name", f="Unit name") }}</th>
      <th>{{ t(k="report.pack-size", f="Pack size") }}</th>
      <th>
        {{ t(k="label.expected-delivery-date", f="Expected delivery date")}}
      </th>
      <!-- TO DO: add missing cost, line total cost, and comment fields, recorded in Issue 8240 https://github.com/msupply-foundation/open-msupply/issues/8240 -->
    </tr>
  </thead>
  {% for line in data.purchaseOrder.lines.nodes -%}
  <tr class="body_value">
    <td>{{ line.lineNumber }}</td>
    <!-- TO DO: add missing supplier code field in the cell below, recorded in Issue 8240 https://github.com/msupply-foundation/open-msupply/issues/8240 -->
    <td>{{line.item.code}}</td>
    <td>{{line.item.name}}</td>
    <td>{{line.requestedNumberOfUnits}}</td>
    <td>{{line.item.unitName}}</td>
    <td>{{line.requestedPackSize}}</td>
    <td>{{line.expectedDeliveryDate}}</td>
    <!-- TO DO: add missing cost, line total cost, and comment fields, recorded in Issue 8240 https://github.com/msupply-foundation/open-msupply/issues/8240 -->
  </tr>
  {%- endfor %}
</table>
<!-- TO DO: add missing authorisation field, recorded in Issue 8240 https://github.com/msupply-foundation/open-msupply/issues/8240 -->
