<style>
  {% include "style.css" %}
</style>

<table class="body_section">
  <thead>
    <tr class="body_column_label">
      <th>{{ t(k="report.line", f="Line") }}</th>
      <th>{{ t(k="report.suppliers-code", f="Supplier's code") }}</th>
      <th>{{ t(k="report.item-code",f="Item code") }}</th>
      <th>{{ t(k="report.item-name",f="Item name") }}</th>
      <th>{{ t(k="report.pack-quantity", f="Pack Quantity") }}</th>
      <th>{{ t(k="report.pack-size", f="Pack size") }}</th>
      <th>{{ t(k="label.unit", f="Unit") }}</th>
      <th>{{ t(k="label.total-quantity", f="Total quantity") }}</th>
      <th>{{ t(k="label.cost", f="Cost") }}</th>
      <th>{{ t(k="report.line-total-cost", f="Line total cost") }}</th>
      <th>{{ t(k="heading.comment", f="Comment") }}</th>
    </tr>
  </thead>
  <tr class="body_value">
    <td>data.purchaseOrder.lines.nodes.lineNumber</td>
    <td>
      {% if data.purchaseOrder.supplier %} {{ data.purchaseOrder.supplier.code
      }} {% endif %}
    </td>
    <td>data.purchaseOrder.lines.nodes.item.code</td>
    <td>data.purchaseOrder.lines.nodes.item.name</td>
    <td>data.purchaseOrder.lines.nodes.numberOfPacks</td>
    <td>data.purchaseOrder.lines.nodes.packSize</td>
    <td>data.purchaseOrder.lines.nodes.item.unitName</td>
    <td>data.purchaseOrder.lines.nodes.item.requestedQuantity</td>
    <td>item cost</td>
    <td>line total cost</td>
    <td>comment</td>
  </tr>
</table>
