@media print {
    @page {
        size: A4 landscape
    }
}

.logo {
    display: block;
    height: 96px;
}

.header {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 0 25px 0 20px;
}

.bold {
    font-weight: 900;
}

.main-table {
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.stocktake-wrapper {
    max-width: 100%;
    width: 1000px;
}

.stocktake-wrapper .main-table .table-header {
    border-bottom: 0.5px solid black;
}

.stocktake-wrapper .main-table .table-header .row {
    font-size: 13px;
    border-bottom: 0px;
}

.stocktake-wrapper .main-table .row {
    display: flex;
}

.stocktake-wrapper .main-table .row .col {
    padding: 3px;
}

.stocktake-wrapper .main-table .row .col-item-code {
    width: 10%;
}

.stocktake-wrapper .main-table .row .col-item-name {
    width: 25%;
}

.stocktake-wrapper .main-table .row .col-batch {
    width: 5%;
}

.stocktake-wrapper .main-table .row .col-expiry-date {
    width: 6%;
    text-align: right;
    
}

.stocktake-wrapper .main-table .row .col-location {
    width: 7.5%;
}

.stocktake-wrapper .main-table .row .col-unit {
    width: 6%;
}

.stocktake-wrapper .main-table .row .col-packsize {
    width: 6%;
    text-align: right;
}

.stocktake-wrapper .main-table .row .col-snapshot-packs {
    width: 6%;
    text-align: right;
}

.stocktake-wrapper .main-table .row .col-counted-packs {
    width: 6%;
    text-align: right;
}

.stocktake-wrapper .main-table .row .col-difference {
    width: 6.5%;
    text-align: right;
}

.stocktake-wrapper .main-table .row .col-reason {
    width: 6%;
}