@page {
  margin: 0;
  size: A4 landscape;
}

.paging {
  width: 100%;
}

.container {
  margin: auto;
  padding: 10px;
  font-size: 14px;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  color: #555;
}

.container table {
  width: 100%;
  font-size: inherit;
  font-family: inherit;
  text-align: left;
  margin-top: 10;
  margin-bottom: 15;
  border-collapse: separate;
}

.container table td {
  padding: 10px;
  vertical-align: top;
  border-top: 1px solid rgb(164, 163, 163);
}

.container table tr:last-child td {
  border-bottom: none;
}

.container>table>thead {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #f1f1f1;
}

.container,
body,
.container>table {
  margin-top: 0px;
  padding-top: 0px;
}

.container table tr.heading td {
  font-weight: bold;
  margin-bottom: 15px;
}

.container table td.status span {
  padding: 2px;
  border-radius: 10px;
}