@media print{
    @page {
        size: portrait
    }
}

.logo {
    display: block;
    height: 96px;
}

.header {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 0 25px 0 20px;
}

.bold {
	font-weight: 900;
}

.main-table {
	align-items: center;
	justify-content: center;
	font-size: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.stocktake-wrapper {
    max-width: 100%;
    width: 900px;
}

.stocktake-wrapper .main-table .table-header {
    border-bottom: 0.5px solid black;
}

.stocktake-wrapper .main-table .table-header .row {
	font-size: 13px;
	border-bottom: 0px;	
}

.stocktake-wrapper .main-table .row {
	display: flex;
}

.stocktake-wrapper .main-table .row .col {
	padding: 3px;
}

.stocktake-wrapper .main-table .row .col-location {
    width: 10%;
}

.stocktake-wrapper .main-table .row .col-item-code {
    width: 15%;
}

.stocktake-wrapper .main-table .row .col-item-name {
    width: 30%;
}

.stocktake-wrapper .main-table .row .col-batch {
    width: 5%;
}

.stocktake-wrapper .main-table .row .col-expiry-date {
    width: 15%;
	text-align: right;
}

.stocktake-wrapper .main-table .row .col-packsize {
    width: 5%;
    text-align: right;
}

.stocktake-wrapper .main-table .row .col-quantity {
    width: 10%;
    text-align: right;
}

.stocktake-wrapper .main-table .row .col-actual-stock {
    width: 10%;
	text-align: right;
}
