<style>
    {% include "style.css" %}
</style>

<table class="body_section">
    <thead>
        <tr class="body_column_label">
            <th>{{t(k="label.location", f="Location")}}</th>
            <th>{{t(k="label.code", f="Code")}}</th>
            <th>{{t(k="report.item-name", f="Item name")}}</th>
            <th>{{t(k="label.batch", f="batch")}}</th>
            <th>{{t(k="label.expiry", f="Expiry")}}</th>
            <th>{{t(k="report.pack-size",f="Pack size")}}</th>
            <th>{{t(k="report.actual-stock",f="Actual Stock")}}</th>
        </tr>
    </thead>
    {% for line in data.stocktakeLines.nodes -%}
    <tr class="body_value">
        <td>{{ line.location.code | default(value='') }}</td>
        <td>{{ line.item.code }}</td>
        <td>{{ line.item.name }}</td>
        <td class="batch">{{ line.batch }}</td>
        <td>
            {% if line.expiryDate %}
            {{ line.expiryDate | date(format="%d/%m/%Y") }}
            {% endif %}
        </td>
        <td>{{ line.packSize }}</td>
        <td>.....................</td>
    </tr>
    {%- endfor %}
</table>