@page {
  margin: 0;
  size: A4 landscape;
}

.paging {
  width: 100%;
}

.container {
  margin: auto;
  padding: 10px;
  font-size: 14px;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  color: #555;
}

.container table {
  width: 100%;
  font-size: inherit;
  font-family: inherit;
  text-align: left;
  margin-top: 10;
  margin-bottom: 15;
  border-collapse: collapse;
}

.container table td {
  padding: 10px;
  vertical-align: top;
  border-bottom: 1px solid rgb(164, 163, 163);
}

.container table tr:last-child td {
  border-bottom: none;
}

.container > table > thead {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #f1f1f1;
}

.container,
body,
.container>table {
  margin-top: 0px;
  padding-top: 0px;
}

.container table tr.heading td {
  font-weight: bold;
  margin-bottom: 15px;
}

.container table td.expiry-date span {
  padding: 2px;
  border-radius: 10px;
}

.container table td.expiry-date span.expired::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgba(245, 5, 1, 0.6);
  margin-right: 5px;
}

.container table td.expiry-date span.expired {
  background-color: rgba(245, 5, 1, 0.3);
  padding: 3px 10px;
}

.container table td.expiry-date span.soon::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgba(248, 154, 1, 0.6);
  margin-right: 5px;
}

.container table td.expiry-date span.soon {
  background-color: rgba(248, 154, 1, 0.3);
  padding: 3px 10px;
}

.container table td.expiry-date span.all-good::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgba(51, 169, 1, 0.6);
  margin-right: 5px;
}

.container table td.expiry-date span.all-good {
  background-color: rgba(51, 169, 1, 0.3);
  padding: 3px 10px;
}

.container table span.na::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgba(143, 144, 166, 0.6);
  margin-right: 5px;
}

.container table td.expiry-date span.na {
  background-color: rgba(143, 144, 166, 0.3);
  padding: 3px 10px;
}