@media print {
  @page {
    @bottom-right {
      font-family: Tahoma;
      font-size: 8pt;
      /* do not allow formatter to add a line break in the content */
      /* prettier-ignore*/
      content: '{{t(k="report.page",f="Page")}} ' counter(page) ' {{t(k="report.of",f="of")}} ' counter(pages);
    }
  }
}

body > table {
  width: 100%;
  padding: 2em;
}

.logo {
  display: block;
  height: 96px;
}

.header_image_section,
.body_section {
  margin-inline-start: 8px;
  width: 100%;
}

.repack_details {
  white-space: nowrap;
  font-family: Tahoma;
  font-size: 8pt;
}

.header_item_details {
  font-family: Tahoma;
  font-size: 8pt;
  border-bottom: 0.5px solid black;
  padding-top: 1pt;
  margin-inline-start: 8px;
  width: 100%;
}

.header_image_section {
  width: 100%;
  font-family: Tahoma;
  font-size: 8pt;
  border-bottom: 0.5px solid black;
  padding-top: 8pt;
  font-family: Tahoma;
}

.location .pack .batch .quantity {
  text-align: end;
  font-family: Tahoma;
  font-size: 8pt;
}

.body_section,
.body_total_section {
  width: 100%;
  font-family: Tahoma;
  font-size: 8pt;
  text-align: end;
}

.body_section tr.body_column_header th {
  border-bottom: 0.5px solid black;
  text-align: center;
}

.body_section tr.body_column_label th {
  border-bottom: 0.5px solid black;
}

.body_value td {
  border-bottom: 0.5px solid black;
}

hr {
  width: 100%;
  margin-inline-start: 8px;
  border: 0.1px solid black;
}
