@media print{
    @page {
        size: A4 landscape 
    }
}
/* @page:left{
    @bottom-left {
      content: "Page " counter(page) " of " counter(pages);
    }
  } */

.logo {
    display: block;
    height: 96px;
}

.header_image_section, .header_supplied_section, .header_date_section, .body_section, .body_total_section {
    margin-left: 8px;
    width: 100%;
}

.header_supplied_section {
    /* width: 100%; */
    font-family: Tahoma;
    font-size: 8pt;
    border-bottom: 0.5px solid black;
    padding-top: 1pt;
} 

.header_image_section {
    width: 100%;
    font-family: Tahoma;
    font-size: 8pt;
    border-bottom: 0.5px solid black;
    padding-top: 8pt;
    font-family: Tahoma;
} 

.header_date_section {
    width: 100%;
    font-family: Tahoma;
    font-size: 8pt;
    border-bottom: 0.5px solid black;
    padding-top: 1pt;
}

.header_section_field_right {
    text-align: right;
    font-family: Tahoma;
    font-size: 8pt;
}

.header_section_field_left {
    text-align: left;
    font-family: Tahoma;
    font-size: 8pt;
}

.line_number, .quantity, .pack, .expiry, .sell_price, .cost_price, .total_quantity, .total_extension {
    text-align: right;
    font-family: Tahoma;
    font-size: 8pt;
}

.item_code, .item_name, .batch {
    text-align: left;
    font-family: Tahoma;
    font-size: 8pt
}

.body_section, .body_total_section {
    width: 100%;
    font-family: Tahoma;
}

.body_section tr.body_column_label th {
    border-bottom: 0.5px solid black;
}

.body_value td {
    border-bottom: 0.5px solid black;
}

hr {
    width: 100%; 
    margin-left: 8px; 
    border: 0.1px solid black;
}

.pageNumber::after {
    font-family: Tahoma;
    font-size: 8pt;
    counter-increment: page;
    content: "Page " counter(page);
}