on:
  push:
    tags:
      - "v*"
  workflow_dispatch:

name: Android Build

jobs:
  create-android-build:
    runs-on: self-hosted
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Read .nvmrc
        run: echo "##[set-output name=NVMRC;]$(cat ./client/.nvmrc)"
        id: nvm

      - name: Use Node.js (.nvmrc)
        uses: actions/setup-node@v4
        with:
          node-version: '${{ steps.nvm.outputs.NVMRC }}'

      - name: Install Yarn
        run: npm install -g yarn

      - name: Install Dependencies
        run: |
          cd client
          rm -rf node_modules
          yarn install --frozen-lockfile

      - name: Get Properties
        id: properties
        run: |
          cp "$HOME/android/local.properties" ./client/packages/android
          cp "$HOME/android/release.keystore" ./client/packages/android/app

      - name: Set Up Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          targets: aarch64-linux-android
            armv7-linux-androideabi
        # Targets need to match in the config.toml of the self-hosted machine

      - name: Set Up Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version-file: client/.java-version

      - name: Build Android App
        uses: borales/actions-yarn@v4
        with:
          cmd: android:build:release
          dir: "client"
        env:
          NDK_BIN: /Users/tmfmacmini/android/ndk/27.2.12479018/toolchains/llvm/prebuilt/darwin-x86_64/bin/
        # Update this version when upgrading the NDK version on the self-hosted machine

      - name: Upload Universal APK
        uses: actions/upload-artifact@v4
        with:
          name: Open_mSupply_Universal_Build
          path: ./client/packages/android/app/build/outputs/apk/universal/release/*.apk
          retention-days: 3

      - name: Upload Arm64 APK
        uses: actions/upload-artifact@v4
        with:
          name: Open_mSupply_Arm64_Build
          path: ./client/packages/android/app/build/outputs/apk/arm64/release/*.apk
          retention-days: 3

      - name: Upload Universal APK to Backblaze B2
        env:
          TELEGRAM_RELEASE_BOT_KEY: ${{ secrets.TELEGRAM_RELEASE_BOT_KEY }}
          TELEGRAM_DEV_RELEASE_CHAT_ID: ${{ secrets.TELEGRAM_DEV_RELEASE_CHAT_ID }}
          TELEGRAM_RC_RELEASE_CHAT_ID: ${{ secrets.TELEGRAM_RC_RELEASE_CHAT_ID }}
          NOTIFICATION_TYPE: "android_build"
          BUILD_STATUS: ${{ job.status }}
          TAG_NAME: ${{ github.ref_name }}
          B2_APPLICATION_KEY_ID: ${{ secrets.B2_KEY_ID }}
          B2_APPLICATION_KEY: ${{ secrets.B2_APPLICATION_KEY }}
        run: bash .github/scripts/mac_backblaze_upload.sh

      - name: Send build completion notification
        if: ${{ failure() }}
        env:
          TELEGRAM_RELEASE_BOT_KEY: ${{ secrets.TELEGRAM_RELEASE_BOT_KEY }}
          TELEGRAM_DEV_RELEASE_CHAT_ID: ${{ secrets.TELEGRAM_DEV_RELEASE_CHAT_ID }}
          TELEGRAM_RC_RELEASE_CHAT_ID: ${{ secrets.TELEGRAM_RC_RELEASE_CHAT_ID }}
          NOTIFICATION_TYPE: "android_build"
          BUILD_STATUS: ${{ job.status }}
          TAG_NAME: ${{ github.ref_name }}
        run: bash .github/scripts/send-telegram-notification.sh
