name: Client tests

on:
  pull_request:
    paths:
      - "client/**"
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number }}
  cancel-in-progress: true

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    timeout-minutes: 20
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: ${{ github.ref }}

      - name: Read .nvmrc
        run: echo "##[set-output name=NVMRC;]$(cat ./client/.nvmrc)"
        id: nvm

      - name: Use Node.js (.nvmrc)
        uses: actions/setup-node@v4
        with:
          node-version: v24.12.0

      - name: Install libusb (needed for node-hid build)
        run: sudo apt-get update && sudo apt-get install -y libusb-1.0-0-dev

      - name: Install dependencies
        run: cd ./client && rm -rf node_modules && yarn install --frozen-lockfile

      - name: Run tests
        run: cd ./client && yarn test
