name: Dockerise

on:
 push:
  tags: 
   - 'v*'

jobs:
  build-client:
    name: Build Client
    runs-on: ubuntu-latest
    timeout-minutes: 20
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Read .nvmrc
       run: echo "NVMRC=$(cat ./client/.nvmrc)" >> "$GITHUB_OUTPUT"
        id: nvm

      - name: Use Node.js (.nvmrc)
        uses: actions/setup-node@v4
        with:
          node-version: "${{ steps.nvm.outputs.NVMRC }}"

      - name: Install dependencies
        run: cd ./client && rm -rf node_modules && yarn install --frozen-lockfile

      - name: Build client
        run: NODE_OPTIONS="--max_old_space_size=4096" cd ./client && yarn build

      - name: Save artifacts
        uses: actions/upload-artifact@v4
        with:
          name: client-dist
          path: client/packages/host/dist
          retention-days: 1

  build-server:
    name: Build server
    needs: build-client
    runs-on: ubuntu-latest
    timeout-minutes: 60
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Load client artifacts
        uses: actions/download-artifact@v4
        with:
          name: client-dist
          path: client/packages/host/dist

      - name: Apply async-dataloader patch
        run: |
          git apply docker/async-dataloader.patch
          
      - name: Build server
        run: docker run --rm --user "$(id -u)":"$(id -g)" -v "$PWD":/usr/src/omsupply -w /usr/src/omsupply/server rust:1.88-slim cargo build --release --bin remote_server --bin remote_server_cli

      - name: Save server executable artifacts
        uses: actions/upload-artifact@v4
        with:
          name: server-executables
          path: | 
            server/target/release/remote_server
            server/target/release/remote_server_cli
          retention-days: 1

  dockerise:
    name: Dockerise
    needs: build-server
    runs-on: ubuntu-latest
    timeout-minutes: 15
    outputs:
      image_tag: ${{ env.VERSION }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Load server artifacts
        uses: actions/download-artifact@v4
        with:
          name: server-executables
          path: server/target/release/

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: Extract Version from Tag
        id: tag
        run: echo "VERSION=${GITHUB_REF#refs/tags/}" >> $GITHUB_ENV

      - name: Build and Push Docker Image
        uses: docker/build-push-action@v5
        with:
          context: .
          target: base
          push: true
          tags: |
            msupplyfoundation/omsupply:${{ env.VERSION }}

      - name: Build and Push Docker Image Dev
        uses: docker/build-push-action@v5
        with:
          context: .
          target: dev
          push: true
          tags: |
            msupplyfoundation/omsupply:${{ env.VERSION }}-dev

  trigger-plugin-tests:
    name: Trigger Plugin Tests
    needs: dockerise
    uses: ./.github/workflows/trigger-plugin-tests.yaml
    with:
      image_tag: ${{ needs.dockerise.outputs.image_tag }}-dev
    secrets:
      ORG_WORKFLOW_TOKEN: ${{ secrets.ORG_WORKFLOW_TOKEN }}