name: Generate GraphQL Schema

on:
  pull_request:
    paths:
      - 'client/packages/**/src/**/*.graphql'
      - 'server/graphql/**'
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number }}
  cancel-in-progress: true

jobs:
  test:
    name: Test
    runs-on: self-hosted
    timeout-minutes: 25
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: ${{ github.ref }}

      - name: Read .nvmrc
        run: echo "NVMRC=$(cat ./client/.nvmrc)" >> "$GITHUB_OUTPUT"
        id: nvm

      - name: Use Node.js (.nvmrc)
        uses: actions/setup-node@v4
        with:
          node-version: '${{ steps.nvm.outputs.NVMRC }}'

      - name: Install Yarn
        run: npm install -g yarn

      - name: Install dependencies
        run: cd ./client && rm -rf node_modules && yarn install --frozen-lockfile

      - name: Update PATH
        run: echo "$HOME/.cargo/bin:/opt/homebrew/bin" >> $GITHUB_PATH

      - name: Run tests
        run: cd ./client && yarn test:codegen
