on:
  pull_request:
    paths:
      - "server/**"
  workflow_dispatch:

name: Backend Tests

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number }}
  cancel-in-progress: true

jobs:
  build_and_test:
    name: Remote Server Tests (sqlite)
    runs-on: self-hosted
    timeout-minutes: 25
    env:
      CARGO_TARGET_DIR: /tmp/target/sqlite
    steps:
      - name: Update PATH
        run: echo "$HOME/.cargo/bin:/opt/homebrew/bin" >> $GITHUB_PATH
      - uses: actions/checkout@v4
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
      - name: Install cargo-nextest
        run: command -v cargo-nextest || cargo install cargo-nextest --locked
      - uses: actions-rs/cargo@v1
        with:
          command: clean
          args: -p repository -p graphql_types -p graphql_plugin -p graphql_invoice --manifest-path server/Cargo.toml
      - name: Run tests and generate report
        run: cargo nextest run --profile=ci-sqlite --features=sqlite --manifest-path server/Cargo.toml
      - name: Upload JUnit test results
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: test-results-sqlite
          path: /tmp/target/sqlite/nextest/ci-sqlite/sqlite-test-results.xml
          retention-days: 7
      - name: Publish test results
        uses: EnricoMi/publish-unit-test-result-action/macos@v2
        if: always()
        with:
          files: /tmp/target/sqlite/nextest/ci-sqlite/sqlite-test-results.xml
          check_name: "Rust Tests (SQLite)"
          comment_mode: create-new
          report_individual_runs: true
  build_and_test_pg:
    name: Remote Server Tests (postgres)
    runs-on: self-hosted
    timeout-minutes: 25
    env:
      CARGO_TARGET_DIR: /tmp/target/postgres
    steps:
      - name: Update PATH
        run: echo "$HOME/.cargo/bin/:/opt/homebrew/bin" >> $GITHUB_PATH
      - uses: actions/checkout@v4
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
      - name: Install cargo-nextest
        run: command -v cargo-nextest || cargo install cargo-nextest --locked
      - uses: actions-rs/cargo@v1
        with:
          command: clean
          args: -p repository -p graphql_types -p graphql_plugin -p graphql_invoice --manifest-path server/Cargo.toml
      - name: Run test and generate report
        run: cargo nextest run --profile=ci-postgres --features=postgres --manifest-path server/Cargo.toml
      - name: Upload JUnit test results
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: test-results-postgres
          path: /tmp/target/postgres/nextest/ci-postgres/postgres-test-results.xml
          retention-days: 7
      - name: Publish test results
        uses: EnricoMi/publish-unit-test-result-action/macos@v2
        if: always()
        with:
          files: /tmp/target/postgres/nextest/ci-postgres/postgres-test-results.xml
          check_name: "Rust Tests (Postgres)"
          comment_mode: create-new
          report_individual_runs: true
